body, html{ 
    margin:0;
    padding:0;
}

button{
    background: none;
    border: 0;
    border-radius: 0;
}

.center{
    text-align: center;
}
ul {
    list-style-type: none;
} 

ul > li {
    display: inline-block;
}

div>a{
    display: inline-block;
}

.widhun{
    width:100%;
}

.fontSas{
    font-family: 'Satisfy';
}

.fontSas-lineup{
    font-size: 70px;
    margin-bottom: 58px;
}

.fontRob{
    font-family: 'Roboto Condensed';
}

.fontRob-karaberu{
    font-size: 68px;
}


.fRMar{
    margin-top:50px;
}

.floatR {
    float:right;
    font-size: 0;
}
.floatL {
    float: left;
}

.inlBlo{
    display: inline-block;
}

.appearNav{
    display: none;
}

.verticalM{
    vertical-align: middle;
}

.navButton{
    width: 178px;
    height: 80px;
    font-size: 16px;
    font-family: 'Roboto Condensed', bold;
    border: none;
    color: #fff;
    border-radius: 0;
    margin:0;
}

.navButton-black{
    background-color: black;
}

.navButton-grey{
    background-color: grey;
}

.navButton-black:hover{
    border: 2px solid #000;
    color: #000;
    background: none;
}

.navButton-grey:hover{
    border: 2px solid grey;
    color: grey;
    background: none;
}

.container{
    max-width: 1100px;
    padding:0 50px;
    margin: 0 auto;
}

.nav{
    position: fixed;
}

div > a > img{
    display: inline-block;
    vertical-align: middle;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.first{
    position: relative;
}

.first__1{
    position: absolute;
    
}

.logoSec1{
    top: calc(35% - 112px);
    text-align: center;
    width: 100%;
}

.whatis{
    margin-top:-150px;
    font-size: 82px;
}

.sec1tosec2{
    margin-top:20px;
}
.colThi{
    width: 41%;
    float: left;
}

.colSix{
    width: 59%;
    float: right;
}

.title{
    margin-top:100px;
    font-size: 34px;
}

.content{
    margin-top: 80px;
    font-size: 14px;
    padding-right: 88px;
}

p span {
    display: block;
}
.car{
    top:115px;
    left:300px;
}

.bicycle{
    margin: 80px 0 75px 45px ;
}

.aMar{
    margin:0 45px 0  0;
}

.area{ height: auto; width: 35vw; background: rgba(255, 255, 255, 0); display:table-cell; }

.blurSec{
    background-image: url(../images/blur.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto; 
    height: auto 
}

.foucoldes__type{
    padding-top:145px;
    font-size: 46px;
    font-family: 'Roboto Condensed';
}

.foucoldes__title{
    font-size: 24px;
}

.foucoldes__content{
    font-size: 14px;
    padding-bottom: 133px;
}


.foucoldes, .foucolsec4{
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
}
/*Tại sao chỗ này đã 25% còn phải float left để cùng hàng, inline-block bị sai*/

.foucoldes-blur::after{
    position: absolute;
    content: url('../images/x.png');
    top: 50%;
    right: 0;
}

.foucoldes-blur:last-child::after{
    position: absolute;
    content: none;
}

.foucolsec4__title{
    font-size: 22px;
    padding: 36px 0 13px 0;
    font-family: 'Roboto Condensed';
    margin:0;
}

.foucolsec4__content{
    font-size: 14px;
    margin:0;
}

.table{
    display: table;
}
.sec3Button{
    width: 249px;
    height: 55px;
    display: table-cell;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
}

.sec3Button-black{
    background-color: #000;
}

.sec3Button-trans{
    background-color: none;
    border: 1px solid#fff;
}

.sec3Button__margin{
    margin:81px 0 193px 0;
}

.lineup{
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-image: url("../images/demo.png");
    background-blend-mode: normal;
    padding-bottom: 195px;
}

.sec4Text{
    font-size: 14px;
    margin-top:73px;
}

.sec4BigText{
    font-size: 32px;
    margin-top:68px;
}

.sec4BigText br{
    display: none;
}

.foucolsec4__imgMar{
    margin-right: 8%;
    margin-bottom:0px;
}

.foucolsec4__imgMar:last-child{
    margin-right: 0;
    margin-bottom:0
}

.foucolsec4__imgMar > img{
    width:100%;
}

.first__1-lifestyle{
    text-align: center;
    width: 100%;
    top:-58px;
}

.hideImg{
    width: 100%;
}

.sec5Text{
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin: 90px 0;
}

.sec5imgText{
    margin:0 0 22px 22px;
}

.threecol{
    width: 33.33333333%;
    display: table-cell;
    vertical-align: text-bottom;
    
}
.housesMar{
    margin-right:80px;
}

.towcol{
    width: 50%;
    float: left;
}

.towcol-1{
    background-image: url("../images/sec6_1.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.towcol-2{
    background-image: url("../images/sec6_2.jpg");
    background-repeat: no-repeat;
}

.fontSas-sec6{
    font-size: 50px;
    margin-top:50px;
    margin-bottom:0; 
    color: #fff;
}
/*Đo không đúng???*/

.dashWMar{
    margin:15px 0 20px 0;
}
/*Đo không đúng???*/

.transMar{
    margin-bottom:75px;
}
/*------------------------------------------------------------------*/
@media(min-width:768px){
    .hideImg1{
        display: none;
    }
}
@media(max-width:767px){
    .sec4Text br, .foucoldes__content br{
        display: none;
    }
    .hideNav{
        display: none;
    }
    
    .appearNav{
        display: inline-block;
        padding: 18px 15px;
    }

    .appearNav>img{
        max-width: 22px;
        max-height: 13px;
    }
    .navButton{
        width:90px;
        height: 55px;
        font-size: 11px;
    }

    .resizeLogoNav{
        max-width: auto;
        max-height: 37.8px;
        padding: 8px 18px;
    }

    .resizeLogoMid{
        max-width: 180px;
        max-height: auto;
    }

    .aMar{
        margin: 0;
    }

    .aMar__padLogo{
        padding-left:10px;
    }

    .whatis{
        font-size: 55px;
    }

    .logoSec1{
        top: calc(50% - 43.7px);
        left: calc(50% - 90px);
        max-width: 35px;
        max-height:27px;
    }

    .fontRob-karaberu{
        font-size:45px;
    }

    .foucolsec4__title{
        font-size: 20px;
        padding-top: 15px; 
        padding-bottom: 10px;
    }

    .foucolsec4__content{
        font-size: 13px;
        padding-bottom:23px;
    }

    .foucolsec4__content:last-child(), foucolsec4__content:nth-child(3){
        font-size: 13px;
        padding-bottom:105px;
    }

    .title{
        margin-top:30px;
        font-size: 21px;
    }

    .content{
        padding-right: 0;
        font-size: 13px;
        margin-top: 30px;
    }

    .car{
        top:68px;
        left:170px;
    }

    .colThi, .colSix{
        width: 100%;
    }

    .container{
        padding:0 16px;}
        

    .bicycle{
        margin: 32px 0 35px 10px;
   }

   .foucoldes{
        width: 100%;
        float: none;
    }

    .foucolsec4{
        width: 50%;
        float: left;
    }

    .foucoldes-blur::after{
        position: static;
        content: url('../images/x.png');
        padding-bottom: -28px;
    }

    .foucoldes__type{
        padding-top:63px;
    }
    
    .foucoldes__content{
        padding-bottom: 35px;
    }

    .sec3Button__margin{
        margin:41px 0 95px 0;
    }

    .fontSas-lineup{
        font-size: 48px;
        margin-bottom: 26px;
    }

    .sec4Text{
        font-size: 13px;
        margin-top:42px;
        text-align: left;
    }

    .sec4BigText{
        font-size: 20px;
        margin-top:36px;
    }

    .sec4BigText br{
        display: block;
    }

    .foucolsec4__imgMar:last-child{
        display: none;
    }

    .lineup{
        padding-bottom: 105px;
    }
    .hideImg1{
        display: block;
        width: 100%;
    }

    .housesMar{
        margin-right:37px;
    }

    .hundred{
        width: 100%;
    }
    
    .sec5imgText{
        margin:14px 0 0 0;
        padding: 0;
    }

    .towcol{
        width:100%;
    }

}



