body, html{ 
  margin:0;
  padding:0;
  font-family:"游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #fff;
}

section{
  font-size: 0;
}

/*font-family: 'Roboto Condensed';*/
a {
  color: #000;
  text-decoration: none; /* no underline */
}

img{
  margin: 0;
  padding:0;
}

button{
  background: none;
  border: 0;
  border-radius: 0;
  border:none;
}

.center{
  text-align: center;
}

.block{
  display: block;
}

.inlBlo{
  display: inline-block;
}

.widhun{
  width:100%;
}

.rel{
  position: relative;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.floatR {
  float:right;
  font-size: 0;
}

.floatL {
  float: left;
}

.rel__abs{
  position: absolute;
}
h1, h2, h3, h4, h5{
  font-weight: normal;
  font-style: normal;
  padding:0;
  margin:0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
} 

li{
  line-height: normal;
  margin:0;
  padding: 0;
}

div a img{
  display: inline-block;
  vertical-align: middle;
}

.fixtop{
  position: fixed;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.container, .headContainer{
  max-width: 1000px;
  padding: 0 16px 0 15px;
  margin: 0 auto;
}

.footContainer{
  max-width: 1000px;
  margin: 0 auto;
}

.footContainer-1{
  padding: 0 17.5px;
}

.footContainer-2{
  padding: 0 10px;
}


.styleHead{
  background-color: #fff
}

.headMar{
  padding-top: 20px;
  padding-bottom: 30px;
}

.headMar__logoMar{
  float: left;
}

.button{
  position: relative;
  color: #fff;
  border-radius: 0;
  margin:0;
  padding: 0;
  border: none;
  text-align: left;
}

.button-size::after{
  position: absolute;
  content: '';
  background-image: url("../images/ico_circle.gif");
  background-repeat: no-repeat;
  top:18px;
  right:12px;
  width: 18px;
  height: 18px;
}

.button-size{
  width: 200px;
  height: 53px;
  font-size: 14px;
}
/* 
.button-mar{
  margin-top: 95px;
  margin-bottom: 140px;
} */

.button-black{
  background-color:black;
  display: inline-block;
  border: none;
}

.button-black:hover{
  background-color:rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.button-blackMar{
  padding-left: 1.5%;
  margin-left: 15px;
}

.button-red{
  background-color:#d53230;
  display: inline-block;
  border: none;
}

.button-red:hover{
  background-color:rgba(207, 8, 8, 0.5);
  display: inline-block;
  /* margin-left: 6px; */
}

.button-redMar{
  padding-left: 0.65%;
}

.headMar__phoneMar{
  margin-bottom: 39px;
  float: right;
}

.hideNav__marTextHead{
  margin-right: 38px;
  font-size: 14px
}

.hideNav__marTextHead:last-of-type{
  margin-right: 0;
}

.hideNav__marTextHead:hover{
  border-bottom: 4px solid #d53230;
  padding-bottom: 8px; 
}

.underHead{
  padding-top: 166px;
}

.areaUnder{
  width: 100%;
  height: 44.21428vw;
  display: table;
 
}

.underHead__scale{
  text-align: center;
}

.underHead__title{
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  top: calc(41.78% - 10px);
  left: calc(50% - 246px);
  text-align: center;
}

.underHead__button{
  position: absolute;
  top: 67.516%;
  left: calc(50% - 109px);
}

.buttonR{
  font-size: 14px;
  border-radius: 0;
  margin:0;
  padding: 0;
  text-align: center;
  color: #000;
  background: #fff;
  border: 1px solid #000;
}

.buttonR-headsize{
  position: relative;
  width:218px;
  height: 42px;
}

.buttonR-mainsize{
  position: relative;
  width:260px;
  height: 50px;
}

.buttonR-headsize::after, .buttonR-mainsize::after {
  position: absolute;
  content: '';
  background-repeat: no-repeat;
  text-align: right;
}

.buttonR-headsize::after {
  background-image: url("../images/arr_right.png");
  width: 17px;
  height: 10px;
  top:14.5px;
  right:-11px;
}

.buttonR-mainsize::after {
  background-image: url("../images/ico_arr.gif");
  width: 22px;
  height: 11px;
  top:17.5px;
  right:-14px;
}

/**/
.sec2, .greySec{
  background-color: #f1f1f1;
}

.styleFlag{
  text-align: center;
  position: relative;
}

.styleFlag__flag{
  position: absolute;
  top: -12px;
  left: calc(50% - 17px);
}

.sec2Title{
  font-size: 34px;
  font-weight: bold;
  padding: 60px 0 24px 0;
  margin: 0;
}

.sec2Script{
  font-size: 16px;
  margin: 0 0 72px 0;
}

.container__col1{
  width: 35.3%;
  float: left;
  margin:0 0 94px 0;
}

.container__col2{
  width: calc(59.5% - 50px);
  float: left;
  text-align: left;
  margin: 0 0 0 50px;
}

.container__button{
  float: left;
  font-size: 12px;
  border:1px solid #000;
  width: 90px;
  height: 26px;
  margin: 0 30px 40px 0;
}

.container__date{
  margin: 0 0 50px 0;
}

.container__date1{
  margin-right: 20px;
  font-size: 14px;
  float: left;
}

.container__date2{
  font-size: 14px;
}

.container__content{
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 40px 0;
  text-decoration: underline;
}

.icoMar{
  text-align: center;
  padding: 130px 0 0 0;
}

.icoMarChat{
  text-align: center;
  padding: 428px 0 0 0;
  margin-top: -285px;
}

.title{
  font-size: 34px;
  margin: 23px 0 85px 0;
  font-weight: bold;
}

.title1{
  font-size: 34px;
  margin: 23px 0 0px 0;
  font-weight: bold;
}

.title-leafMar, .title1-leafMar{
  padding-bottom: 400px; 
}

.foucol{
  width: 24.71428%;
  float: left;
  margin-right: 0.3571428%;
  position: relative;
}


.foucol:last-child{
  margin-right: 0; 
}


.foucol__title{
  font-size: 18px;
  font-weight: bold;
  margin: 26px 0 17px 16px;
  text-decoration: underline;
}

.foucol__content{
  font-size: 14px;
  margin: 0 0 0 16px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #a9a9a9;
}

.foucol-hover:hover .overlay{
  opacity: 0.5;
}

.buttonR-mar1{
  margin: 7.5vw 0 8.857vw 0;
}

.buttonR-mar2{
  margin: 4.2857vw 0 11.4286vw 0;
}

.areaLeft{
  height: 45vw;
}

.areaLeft__mar {
  padding: 126px 0 0 0;
}

.areaLeft__mar__text{
  margin: 26px 0 106px 0; 
}

.bgSec4{
  background-image: url("../images/pic_sec401.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 71.43%; 
  height: auto;
}

.bgSec41{
  background-image: url("../images/pic_sec402.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 71.43%; 
  height: auto;
}

.bgSec4-top{
  margin-top: -352px;
}

.bgSec4-bottom{
  margin-bottom: -352px;
}

.bgSec4-R{
  float: right;
}

.bgSec4-L{
  float: left;
}

.areabgSec4{
  width: 100%;
  height: 543px;
}

.buttonS, .buttonS1{
  width: 90px;
  height: 25px;
  font-size: 14px;
  position: relative;
  border: none;
  margin:0;
  color: #000;
  padding: 0;
  text-align: center;
}

.buttonS::after, .buttonS1::after{
  position: absolute;
  content: '';
  background-image: url("../images/arr_right.png");
  background-repeat: no-repeat;
  top:7px;
  right:-11px;
  width: 17px;
  height: 10px;
  text-align: right;
}

.frame{
  max-width: 375px;
  max-height: 375px;
  width: 375px;
  height: 375px;
  border: 1px solid #a9a9a9;
  text-align: center;
  background-color: #fff;
}

.frame-top{
  position: absolute;
  top: calc(50% - 188px);
}

.frame-bottom{
  position: absolute;
  top: calc(100% - 457px);
  right: 0;
}


.frame__num{
  font-size: 48px;
  font-family: 'Roboto Condensed';
  margin:74px 0 15px 0;
  line-height: 0;
}

.frame__title{
  font-size: 22px;
  margin: 9px 0 15px 0;
  font-weight: bold;
}

.frame__content{
  font-size: 14px;
  padding: 0 66px;
  margin-bottom: 20px;
  text-align: left;
}

.foucol1{
  width: 21%;
  float: left;
  margin-right: 5.3125%;
}

.foucol1:last-child{
  margin-right: 0;
}

.foucol1:last-child{
  margin-right: 0;
}
.foucol1__title{
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0 20px 0;
  text-decoration: underline;
}

/*Problem*/
.foucol1__content{
  font-size: 14px;
  margin: 0;
}

.container800{
  max-width: 800px;
}

.container800-mar, .container800-mar1{
  padding: 0 15px;
  margin: 0 auto;
}

.container800__col1{
  width: 12.5%;
  float: left;
}

.container800__col1-mar{
  margin: 25px 0;
}

.container800__col2{
  width: 87.5%;
  float: left;
}

.container800__col2__date
{
  font-size: 14px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  margin: 25px 0 0 28px;
}

.container800__col2__title{
  font-size: 18px;
  margin: 10px 0 20px 28px;
  text-decoration: underline;
}

.buttonS-col2{
  margin: 0 0 0 28px;
}

.bgSec7{
  background-image: url("../images/pic_sec7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto; 
  height: auto;
  background-position: right center;
}

.container800__title{
  font-size: 18px;
  padding:105px 0 26px 0;
  font-weight: bold;
}

.container800__content{
  font-size: 14px;
  padding: 0 0 105px 0;
  margin: 0;
}

.footTitle{
  font-size: 32px;
  font-weight: bold;
  padding: 78px 0 6px 0;
  margin: 0;
}

.footScript{
  font-size: 14px;
  padding: 0 0 60px 0;
}

.footScript br{
  display: none
}
.footContainer__col1{
  width: 40%;
  float: left;
  background-color: #fff;
}

.footContainer__title{
  font-size: 20px;
  font-weight: bold;
  padding: 42px 0 20px 0;
  margin: 0;
}

.footContainer__phone{
  font-size: 36px;
  font-family: 'Roboto Condensed';
  font-weight: bolder;
  padding: 0 0 16px 0;
  margin: 0;
}

.footContainer__time{
  font-size: 14px;
  padding: 0 0 48px 0;
  margin: 0;
}

.footContainer__col2{
  width: calc(60% - 9px);
  float: left;
  background-color: #fff;
  margin-left: 9px;
  margin-bottom: 60px;
}

.footContainer__button{
  padding: 0 0 63px 0;
}

.button-sizefoot{
  width: 242px;
  height: 64px;
  font-size: 16px;
  font-weight: bold;
}


.button-sizefoot::after{
  position: absolute;
  content: '';
  background-image: url("../images/arr.png");
  background-repeat: no-repeat;
  top:22px;
  right:12px;
  width: 18px;
  height: 18px;
}

.button-blackFootMar{
  padding-left: 40px;
  margin-left: 10px;
}

.button-redFootMar{
  padding-left: 10px;
  margin: 0;
}

.footContainer-mar{
  margin-bottom: 60px;
}

.footContainer__colThi{
  width:33.3333333333%;
  float: left;
}


.footContainer__colThi{
  margin-top: 80px;
}

.copyright{
  margin-bottom: 110px;
  font-size: 12px;
}

.footArr p img{
  margin-right: 10px;
}

.footArr p {
  font-size: 14px;
  margin-top: 35px;
}

.footArr p:first-child{
  margin-top: 0px;
}

.footLogo p {
  font-size: 14px;
}

.footLogo p:nth-child(2){
  font-size: 18px;
  font-weight: bold;
}

.footContainer__blackSP{
  display: none;
}

.hideSP, .hideNav1{
  display: none;
}

.leaf2StyleR{
text-align: right;}

.leaf2StyleL{
  text-align: left}


.picandframe{
  margin-top:-285px;
  position: relative;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.picandframe1{
  margin-top:155px;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.picandframe1__container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.frameContainer{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0;
}

.maxwidhun{
  max-width: 100%;
}

@media (max-width:1009px){
  .headMar, .underHead{
    padding: 0;
  }
  
  .hideNav {
    display: none;
  }

  .hideNav1{
    display: block;
  }

  .headMar__buttonsNav{
    width: 34.375%;
    float: right;
  }

  .buttonCollapse{
    color: #fff;
    border-radius: 0;
    font-size: 8px;
    border: none;
    font-weight: bold;
    width: 50%;
    float: left;
    height: 74px;
  }

  .buttonCollapse-black{
    background-color: #000;
    position: relative;
    padding: 27px 0 0 0;
  }

  .buttonCollapse-black::after{
    position: absolute;
    content: '';
    background-image: url("../images/ico_3line.gif");
    background-repeat: no-repeat;
    width: 18px;
    height: 13px;
    top: 10px;
    left: calc(50% - 9px);
  }

  .buttonCollapse-red{
    background-color: #d53230;
    position: relative;
    padding: 20px 0 0 0;
  }

  .buttonCollapse-red::after{
    position: absolute;
    content: '';
    background-image: url("../images/ico_ques.png");
    background-repeat: no-repeat;
    width: 8px;
    height: 12px;
    top: 10px;
    left: calc(50% - 4px);
  }
  
  .headContainer{
    padding: 0 0 0 13px;
  }
}

@media(max-width: 866px){
  .footContainer__title{
    font-size: 16px;
    padding: 27px 0 13px 0;
  }
  
  .footContainer__phone{
    font-size: 26px;
    padding: 16px 0 9px 0;
    line-height: 0;
  }
  
  .footContainer__time{
    font-size: 12px;
    padding: 0 0 16px 0;
  }

  .footContainer__buttonSP{
    border: 1px solid #000;
    margin: 0 16px 25px 16px;
    position: relative;
  }

  .footContainer__buttonSP::after{
    position: absolute;
    background-image: url("../images/ico_arrcircle.gif");
    content: '';
    background-repeat: no-repeat;
    top:18px;
    right:9px;
    width: 22px;
    height: 22px;
  }

  .footContainer__blackSP{
    font-size: 12px;
    line-height: 30px;
    display: block;
    background-color: #000;
    color: #fff;
    padding: 0;
    margin: 0;
  }

  .footContainer__col1, .footContainer__col2{
    width: 100%;
    margin: 0;
  }

  .footContainer__col1{
    margin-bottom: 10px;
  }

  .footContainer__col2{
    margin-bottom: 47px;
  }

  .footTitle{
    font-size: 19px;
    padding: 34px 0 6px 0;
  }
  
  .footScript{
    font-size: 13px;
    padding: 0 0 60px 0;
  }

  .footScript br{
    display: block;
  }

  .button-sizefoot{
    width: 260px;
    height: 60px;
    font-size: 15px;
  }

  .button-redFootMar{
    padding-left: 42px;
    margin-bottom: 16px;
  }

  .button-blackFootMar{
    padding-left: 55px;
    margin: 0;
  }
}

@media (max-width:767px){
  .styleFlag__flag{
    position: static;
    padding-top: 55px;
  }

  .resizeIco{
    max-width: 22px;
  }
  
  .heista{
    height: 402px;
  }

  .buttonCollapse{
    height: 50px;
  }

  .headMar{
    margin:0;
  }

  .areaUnder{
    width: 100%;
    height: 100vh;
    background-position: center;
    margin-top: 0;
  }

  .resizeLogo{
    max-width: 129px;
  }

  .hide{
    display: none;
  }

  .underHead__title{
    font-size: 22px;
    top: calc(25.848% - 10px);
    left: calc(50% - 135px);
    text-align: center;
  }
  
  .underHead__button{
    position: absolute;
    top: 66.4179%;
    left: calc(50% - 91px);
  }

  .buttonR{
    font-size: 13px;
  }
  
  .buttonR-headsize{
    width:182.5px;
    height: 36px;
  }
  
  .buttonR-mainsize{
    width: 230px;
    height: 50px;
  }
  
  .buttonR-headsize::after, .buttonR-mainsize::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    text-align: right;
  }
  
  .buttonR-headsize::after {
    top:13px;
    right:-9.5px;
  }
  
  .buttonR-mainsize::after {
    top:19px;
    right:-13px;
  }

  .sec2Title{
    font-size: 22px;
    padding: 22px 0 13px 0;
  }

  .sec2Script{
    font-size: 12px;
    margin: 0 0 35px 0;
  }

  .container__col1{
    width: 100%;
    margin:0;
  }

  .container__col2{
    width: 100%;
    margin: 22px 0 62.5px 0;
  }

  .container__button{
    width: 92px;
    height: 29px;
    margin: 0 11px 22px 0;
  }
  
  .container__date{
    margin: 0 0 22px 0;
  }
  
  .container__date1{
    line-height: 1.1;
    font-size: 12px;
  }
  
  .container__date2{
    font-size: 12px;
    float:none;
  }

  .container__content{
    font-size: 15px;
  }

  .centerSP{
    text-align: center
  }

  .house{
    margin-top: 61px;
  }

  .title{
    font-size: 21px;
    margin: 16px 0 39px 0;
  }

  .foucol{
    width: 49.375%;
    margin-right: 0.9375%;
  }
  
  .foucol:nth-child(2n + 0){
    margin-right: 0; 
  }
  
  
  .foucol__title{
    font-size: 15px;
    margin: 12px 0 13px 10.5px;
  }
  
  .foucol__content{
    font-size: 12px;
    margin: 0 0 47px 10.5px;
  }

  .foucol1{
    width: 45.6477%;
    margin: 0 8.4775% 0 0;
  }

  .foucol1:nth-child(2n + 0){
    margin: 0;
  }

  .foucol1__title{
    font-size: 13px;
    margin: 16px 0;
  }
  
  /*Problem*/
  .foucol1__content{
    font-size: 12px;
    margin-bottom: 51px;
  }

  .buttonR-mar1{
    margin: 4px 0 88.5px 0;
  }


  .container800__col1{
    width: 34.483%;
  }
  
  .container800__col1-mar{
    margin: 23px 0 8px 0;
  }
  
  .container800__col2{
    width: 65.517%;
  }
  
  .container800__col2__date
  {
    font-size: 12px;
    margin: 23px 0 0 18px;
  }
  
  .container800__col2__title{
    font-size: 15px;
    margin: 8px 0 10px 18px;
    text-decoration: underline;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .buttonS-col2{
    margin: 0 0 0 18px;
  }

  .buttonS::after{
    left:0px;
  }

  .container800-mar1{
    padding: 0 30px;
    margin: 0 auto;
  }

  .container800__title{
    font-size: 15px;
    padding:55px 0 23px 0;
    font-weight: bold;
    margin: 0;
  }
  
  .container800__content{
    font-size: 13px;
    padding: 0 0 49px 0;
    margin: 0;
  }

  /*-------------------------------------*/
  .hideSP{
    display: block;
  }
  
  .footArr p, .twocol p, .footArr1 p{
    font-size: 13px;
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px dotted #000;
  }

  .twocol{
    width: calc(50% - 22.5px);
    float: left;
  }
  .twocol p{
    font-size: 12px;
  }

  .twocol-mar{
    padding:0 22.5px 0 0;
  }

  .twocol-mar:nth-child(2), .twocol-mar:nth-child(4), .twocol-mar:nth-child(6), .twocol-mar:nth-child(8) {
    padding:0 0 0 0;
  }

  .maxwid10{
    max-width: 10px;
  }

  .copyright{
    margin-top: 33px;
    text-align: center
  }


  /*leaf*/
  .title1{
    font-size: 21px;
    margin: 16px 0 39px 0;
  }

  .title1-leafMar{
    padding-bottom: 110px; 
    margin: 0;
  }
  
  .leaf2Style{
    width: 100%; 
  }
  
  .leaf2Style-R, .leaf2Style-L{
  float: none;
  }

  .picandframe{
    margin-top:-64px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  
  .picandframe1{
    margin-top:90px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  
  .frame{
    max-width: 768px;
    max-height: 768px;
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
  }
  
  .frame-top{
    position: static;
  }
  
  .frame-bottom{
    position: static;
  }
  
  
  .frame__num{
    font-size: 36px;
    margin:-8px 0 15px 0;
  }
  
  .frame__title{
    font-size: 18px;
    margin: 9px 0 15px 0;
  }
  
  .frame__content{
    font-size: 13px;
    padding: 0 15px;
  }
}