body, html{ 
    margin:0;
    padding:0;
    font-family:"游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

a {
    color: #000;
    text-decoration: none; /* no underline */
  }

img{
    margin: 0;
    padding:0;
  }

button{
    background: none;
    border: 0;
    border-radius: 0;
    border:none;
}

.maxPC{
    max-width: 1400px;
}

.center{
    text-align: center;
}

.block{
    display: block;
}
h1, h2, h3, h4, h5{
    font-weight: normal;
    font-style: normal;
    padding:0;
    margin:0;
}

ul {
    list-style-type: none;
} 


div > a > img {
    display: inline-block;
    vertical-align: middle;
}

.widhun{
    width:100%;
}

.rel{
    position: relative;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.floatR {
    float:right;
    font-size: 0;
}
.floatL {
    float: left;
}

.container{
    padding:0 15px;
    margin: 0 auto;
    max-width: 1100px;
}

.inlBlo{
    display: inline-block;
}

.borBot{
    border-bottom: 1px solid #666;
}

.fixedT{
    position: fixed;
    z-index:100;
    background-color: #fff;
    width: 100%;
}
.aMar{
    margin: 0 45px 0 0;
}

.navButton{
    font-size: 16px;
    font-family: 'Roboto Condensed';
    border: none;
    color: #fff;
    border-radius: 0;
    margin:0;
}

.navButton-topSize{ 
    width: 178px;
    height: 80px;
}

.navButton-black{
    background-color: black;
}

.navButton-grey{
    background-color: #666;
}

.navButton-black:hover{
    border: 2px solid #000;
    color: #000;
    background: none;
}

.navButton-grey:hover{
    border: 2px solid grey;
    color: grey;
    background: none;
}

.appear{
    display: none;
}

.resizeLogoNav{
    padding-left: 10px;
}

.area{
    height: 307px;
}

.header{
    /*background: color image repeat attachment position*/
    background: url("../images/top.jpg") center no-repeat;
    background-size: 100%;
    position: relative;
}

.header__leftTree {
    position: absolute;
    left: 8.6%;
    bottom:-3vw;
}

.header__rightTree {
    position: absolute;
    right: 8.6%;
    bottom:-3vw;
}

.header__title {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom:-8.6vw;
}

.fontSas{
    font-family: 'Satisfy';
    margin:0;
}

.fontSas-concept{
    font-size: 70px;
}

.fontSas-underText{
    font-size: 18px;
    margin-top: 35px;
}

.setupImage {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.setupImage__abs{
    position: absolute;
}

.setupImage__abs > img{
    width: 100%;
}

.setupImage__abs-dog{
    top:5.93vw;
    left: 5.57vw;
    right:4.5vw;
}

.setupImage__abs-chair{
    top:28.43vw;
    left: 4.5vw;
    right: 12.43vw;
}

.setupImage__abs-tea{
    top:41.43vw;
    left: 16.82vw;
    right: 6.52vw;
}

.cenTit{
    font-size: 38px;
    text-align: center;
}

.cenTit-mar{
    padding-top: 18.43vw;
}

.cenCon{
    font-size: 14px;
    text-align: center;
}

.cenCon-midMar{
    margin-top: 7.14vw;
}

.cenCon-botMar{
    margin-top: 4.64vw;
}

.cenCon-botMar:last-of-type{
    margin-bottom: 7.1vw;
}

.imgSP{
    display: none;
}

.justRight{
    background-image: url("../images/garden.jpg");
    background-size: 100% auto;
    background-position: center;
    position: relative;
}

.areaJus{
    height: 357px;
}

.rel__abs{
    position: absolute;
}

.rel__abs-JRImg{
    top:0;
    left:-43px;
}

.JRTitle{
    font-size: 34px;
    margin:0;
}

.JRContent{
    font-size: 14px;
    margin-bottom:0;
    margin-top:30px;
}

.JRContent:nth-of-type(2){
    margin-top:60px;
}
/*Tại sao chỗ này lại chọn thứ 2????*/

.twocol{
    width: 50%;
    float: left;
}

.twocol-JRMar{
    margin-top: 155px;
    margin-bottom: 140px;
}

.listMar{
    margin-bottom:140px;
}



.firstCol{
    width: 26.3636%;
    float: left;
    text-align: center;
}

.firstCol__textShadow{
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color:#fff;
    font-size: 38px;
    font-family: 'Satisfy';
    margin: 135px 0 0 0 ;
    padding: 0;
}

.firstCol__mainText{
    color: #000;
    font-size: 76px;
    font-family: 'Roboto Condensed';
    position: relative;
    padding: 0 0 26px 0;
}

/* .firstCol__mainText::after{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 34px;
    background: black;
    left: calc(50% - 17px);
} */

/*After makes responsive wrong*/

.firstCol__underText{
    font-size: 22px;
    margin: 30px 0 0 0;
}
.secondCol{
    width: 34.5454%;
    float: right;
}

.secondCol__title{
    font-size: 32px;
    margin: 135px 0 30px 0;
}

.secondCol__content{
    font-size: 14px;
    line-height: 25px;
    margin-right: 55px;
}

.thirdCol{
    width: 39.091%;
    float: right;
    text-align: center;
}

.thirdCol-mar{
    margin:135px 0 110px 0;
}

.button{
    width: 330px;
    height: 78px;
    font-size: 18px;
    position: relative;
    color: #fff;
    font-family: 'Roboto Condensed';
    border-radius: 0;
    margin:0;
    padding: 0;
    border: none;
}

.button::after{
    position: absolute;
    content: '';
    background-image: url("../images/arr_white.png");
    background-repeat: no-repeat;
    top:35px;
    right:5px;
    width: 30px;
    height: 30px;
}

.button-mar{
    margin-top: 95px;
    margin-bottom: 140px;
}
.button-black{
    background-color:black;
    display: inline-block;
}

.button-black:hover{
    background-color:rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.borTop{
    border-top: 2px solid #ccc;
}

.footercontainer{
    max-width: 1100px;
    padding:0 10px;
    margin: 42px auto 0 auto;
}

.footerlogoMar{
    margin-right: 40px;
}

.left10{
    padding-left:10px;
}


.copyright{
    margin-top: 45px;
    font-size: 10px;
    color: #999;
    text-align: center;
}

.footerText{
    font-size: 14px;
    margin-right:30px; 
}

.butCen__footBut{
    width: 170px;
    height: 38.149px;
    font-size: 16px;
    font-family: 'Roboto Condensed';
    border: none;
    color: #fff;
    border-radius: 0;
    margin:0;
}

.butCen__footBut-black{
    background-color:black;
    display: inline-block;
}

.butCen__footBut-grey{
    background-color:#666;
    display: inline-block;
}

.butCen__footBut-trans{
    background-color:transparent;
    color: #000;
}

h4{
    font-weight: normal;
    font-style: normal;
}

.forBut{
    margin-top:20px;
}

.tel{
    font-family: 'Roboto Condensed';
    font-size: 24px;
    display: inline-block;
    color:#000;
}

.footerInfo{
    font-size: 12px;
    margin-left: 17px;
}

div > a{
    display: inline-block;
}

.rel__abs-arrUp{
    top:-110px;
    right: -85px;
}

.butCen__footBut-trans{
    font-size: 21px;
}

@media(max-width:1250px){
    .rel__abs-arrUp{
        top:-110px;
        right: 15px;
    }
}
@media(max-width:1080px){
    .aMar{
        margin-right: 10px;
    }
}

@media(max-width:875px){
    .hide{
        display: none;
    }

    .appear-span{
        display: inline-block;
        padding: 18px 15px;
    }
    
    .appear-span>img{
        max-width: 22px;
        max-height: 13px;
    }
}

@media(max-width:319px){
    .max320{
        display: none;
    }
}
@media(max-width:767px){
    .hide1{
        display: none;
    }

    .aMar{
        margin: 0;
    }

    .resizeLogoNav{
        max-height: 37.8px;
        padding: 8px 18px;
    }

    .navButton{
        font-size: 11px;
    }

    .navButton-topSize{ 
        width:90px;
        height: 55px;
    }

    .header__leftTree {
        position: absolute;
        left: 4%;
        bottom:5.5vw;
    }

    .header__rightTree {
        position: absolute;
        right: 4%;
        bottom:5.5vw;
    }

    .header__resizeTree{
        max-height: 64px;
    }
    .imgPC{
        display: none;
    }

    .imgSP{
        display: block;
        margin-top: 165px;
        margin-bottom: 92px;
        padding: 0 15px;
    }

    .imgSP >img{
        width: 100%;
    }
    
    .area{
        height: 70px;
        padding-top: 110px;
    }

    .header__title {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom:-25vw;
    }

    .cenCon{
        font-size: 14px;
        text-align: left;
        padding: 0 15px;
    }

    .fontSas-concept{
        font-size: 45px;
    }

    .fontSas-underText{
        font-size: 14px;
        margin-top: 23px;
    }

    .areaJus{
        height: 178.5px;
    }

    .twocol{
        width: 100%;
    }

    .rel__abs-JRImg{
        top:-15px;
        left:0;
    }

    .twocol-JRMar:last-of-type{
        margin-top: 0px;
    }

    .twocol-JRMar{
        margin-top: 100px;
        margin-bottom: 41px;
    }

    .JRTitle{
        font-size: 21px;
    }

    .JRContent{
        font-size: 13px;
        margin-bottom:0;
        margin-top:26px;
    }
    
    .JRContent:nth-of-type(2){
        margin-top:37px;
    }

    .container{
        padding:0 14px;
        margin: 0 auto;
    }

    .firstCol, .secondCol, .thirdCol{
        width: 100%;
    }

    .firstCol__textShadow{
        margin-top: 45px ;
    }

    .firstCol__mainText{
        font-size: 43px;
    }

    .thirdCol-mar{
        margin:30px 0 30px 0;
    }

    .secondCol__title{
        margin: 0;
        font-size: 20px;
    }
    
    .secondCol__content{
        margin:26px 0 45px 0;
        font-size: 13px;
    }

    /*PROBLEM*/
    .button{
        max-width: 270px;
        width: 100%;
        height: 57px;
        font-size: 15px;
    }

    .button::after{
        top:22px;
        right:5px;
        width: 30px;
        height: 30px;
    }

    .button-mar{
        margin-top: 52px;
        margin-bottom: 56px;
    }

    .borTop{
        border: 0;
    }

    .footercontainer{
        padding: 0;
        margin: 0;
    }

    .footerlogoMar{
        margin-right: 0px;
    }

    .footerText{
        padding: 20px 0 16px 0;
        margin: 0;
    }

    .butCen{
        display: block;
        text-align: center;
    }

    .butCen__footBut{
        height: 57px;
        font-size: 15px;
    }

    .butCen__footBut-black::after, .butCen__footBut-grey::after{
        position: absolute;
        content: '';
        background-image: url("../images/arr_white.png");
        background-repeat: no-repeat;
        right:5px;
        width: 40px;
        height: 40px;
    }

    .butCen__footBut-black, .butCen__footBut-grey{
        display: block;
        width: 100%;
        position: relative;
    }

    .butCen__footBut-trans::after{
        position: absolute;
        content: '';
        background-image: url("../images/arr.png");
        background-repeat: no-repeat;
        right:5px;
        width: 40px;
        height: 40px;
    }

    .butCen__footBut-trans{
        display: block;
        width: 100%;
        border:2px solid #000;
        position: relative;
        margin-bottom: 25px;
    }

    .buttMar{
        margin-top:21px;
    }

    .tel{
        color: #000;
        border: 2px solid #000;
        background-color:transparent;
        display: inline-block;
        padding: 17px 76px;
        position: relative;
        font-size: 16px;
        margin-bottom: 25px;
    }

    .tel::after{
        position: absolute;
        content: '';
        background-image: url("../images/arr.png");
        background-repeat: no-repeat;
        top:20px;
        right:5px;
        width: 40px;
        height: 40px;

    }

    .blo{
        display: block;
    }

    .borNav{
        border-top: 1px solid #000;
    }

    .borNav:last-of-type {
        border-bottom: 1px solid #000;
    }

    h5{
        font-size: 13px;
        margin: 0;
        padding-left:17px; 
        position: relative;
    }

    h5::after{
        content: '';
        background-image: url("../images/arr.png");
        background-repeat: no-repeat;
        position: absolute;
        right:5px;
        width: 50px;
        height: 50px;
    }

    .rel__abs-arrUp{
        top:570px;
        right: 19px;
    }
    
}