body, html{ 
    margin:0;
    padding:0;
}

button{
    border:none;
}

a {
    color: #000;
    text-decoration: none; /* no underline */
  }

button{
    background: none;
    border: 0;
    border-radius: 0;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    font-style: normal;
    padding:0;
    margin:0;
}
.center{
    text-align: center;
}
ul {
    list-style-type: none;
} 

ul > li {
    display: inline-block;
}

div>a{
    display: inline-block;
}

.widhun{
    width:100%;
}

.fontSas{
    font-family: 'Satisfy';
    margin:0;
}

.fontSas-lineup{
    font-size: 70px;
    margin-bottom: 58px;
}

.fontRob{
    font-family: 'Roboto Condensed';
}

.fontRob-karaberu{
    font-size: 68px;
    margin-top:10px; 
}


.floatR {
    float:right;
    font-size: 0;
}
.floatL {
    float: left;
}

.inlBlo{
    display: inline-block;
}

.appearNav{
    display: none;
}

.left10{
    padding-left:10px;
}

.verticalM{
    vertical-align: middle;
}

.navButton{
    width: 178px;
    height: 80px;
    font-size: 16px;
    font-family: 'Roboto Condensed', bold;
    border: none;
    color: #fff;
    border-radius: 0;
    margin:0;
}

.navButton-black{
    background-color: black;
}

.navButton-grey{
    background-color: #666;
}

.navButton-black:hover{
    border: 2px solid #000;
    color: #000;
    background: none;
}

.navButton-grey:hover{
    border: 2px solid grey;
    color: grey;
    background: none;
}

.container{
    max-width: 1100px;
    padding:0 50px;
    margin: 0 auto;
}

.nav{
    position: fixed;
}

div > a > img{
    display: inline-block;
    vertical-align: middle;
}

/* .clearfix {
    overflow: auto;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.rel{
    position: relative;
}

.abs{
    position: absolute;
    
}

.logoSec1{
    top: calc(35% - 112px);
    text-align: center;
    width: 100%;
}

.whatis{
    position: absolute;
    top:-200px;
    font-size: 82px;
}

.sec1tosec2{
    margin-top:20px;
}
.colThi{
    width: 41%;
    float: left;
}

.colThiNoFlo{
    width: 41%;
}

.colSix{
    width: 59%;
    float: right;
}

.title{
    margin-top:100px;
    font-size: 34px;
}

.content{
    margin-top: 80px;
    font-size: 14px;
    padding-right: 88px;
}

p span {
    display: block;
}
.car{
    top:115px;
    left:300px;
}

.bicycle{
    /* margin-left: -50px; */
    margin: 10px 0 75px -50px ;
}

.aMar{
    margin:0 45px 0  0;
}

.area{ height: auto; width: 35vw; background: rgba(255, 255, 255, 0); display:table-cell; }

.blurSec{
    background-image: url("../images/blur.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto; 
    height: auto 
}

.foucoldes__type{
    padding-top:145px;
    font-size: 46px;
    font-family: 'Roboto Condensed';
}

.foucoldes__title{
    font-size: 24px;
}

.foucoldes__content{
    font-size: 14px;
    padding-bottom: 133px;
}


.foucoldes, .foucolsec4{
    position: relative;
    width: 25%;
    float: left;
    text-align: center;
}
/*Tại sao chỗ này đã 25% còn phải float left để cùng hàng, inline-block bị sai*/

.foucoldes-blur::after{
    position: absolute;
    content: url('../images/x.png');
    top: 50%;
    right: 0;
}

.foucoldes-blur:last-of-type::after{
    position: absolute;
    content: none;
}

.foucolsec4__title{
    font-size: 22px;
    padding: 36px 0 13px 0;
    font-family: 'Roboto Condensed';
    margin:0;
}

.foucolsec4__content{
    font-size: 14px;
    margin:0;
}

.table{
    display: table;
}
.sec3Button{
    width: 249px;
    height: 55px;
    display: table-cell;
    font-size: 14px;
    color: #fff;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
}

.sec3Button-black{
    background-color: #000;
}

.sec3Button-grey:after{
    /* background-image: (url("../images/arrow.png"));  */
    background-image: url("../images/demo.png");
}

.sec3Button-trans{
    background-color: none;
    border: 1px solid#fff;
}

.sec3Button__margin{
    margin:81px 0 193px 0;
}

.lineup{
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-image: url("../images/demo.png");
    background-blend-mode: normal;
    padding-bottom: 195px;
}

.sec4Text, .sec7Text{
    font-size: 14px;
    margin-top:73px;
    margin-bottom: 68px;
}

.sec4BigText{
    font-size: 32px;
    margin-top:68px;
}

.sec4BigText br{
    display: none;
}

.foucolsec4__imgMar{
    margin-right: 8%;
    margin-bottom:0px;
}

.foucolsec4__imgMar:last-of-type {
    margin-right: 0;
    margin-bottom:0
}

.foucolsec4__imgMar > img{
    width:100%;
}

.abs-lifestyle{
    text-align: center;
    width: 100%;
    top:-58px;
}

.hideImg, .hideImg2{
    width: 100%;
}

.sec5Text{
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin: 90px 0;
}

.sec5imgText{
    margin:0 0 22px 22px;
}

.threecol{
    width: calc(33.33333333% - 16px);
    float:left;
}

.threecol:last-of-type {
    width: 33.3333333%;
    background-color: #666;
}
/*Can't use last child?? Why?????*/

.threecol-Mar{
    margin-right: 16px;
}


.threecol-Mar:last-of-type {
    margin-right: 10000px;
}
/*Can't use last child?? Why?????*/

.housesMar{
    margin-right:80px;
}

.twocol{
    width: 50%;
    float: left;
}

.specbg{
    background-image: url("../images/sec6_1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.faqbg{
    background-image: url("../images/sec6_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}


.fontSas-sec6{
    font-size: 50px;
    margin:0; 
    color: #fff;
}
/*Đo không đúng???*/

.dashWMar{
    margin:15px 0 20px 0;
}
/*Đo không đúng???*/

/* .transMar{
    margin-bottom:75px;
} */

.abs-two{
    padding: 56px 0 74px 0;
    text-align: center;
    width: 100%;
}

.imgSec7Mar{
    margin-top: 135px;
    margin-bottom: 52px;
}

.container10{
    padding:0 10px;
    margin: 0 auto;
}

/*frame have to use JS to get the biggest frame*/
.frame{
    background-color: #f2f2f2;
    width: 100%;
    display: inline-block;
}

.lineframestyle{
    width: calc(100% - 16px);
}

.frame__content{
    font-size: 14px;
}

.frame__content:first-child{
    margin-top:55px;
}

.frame__title{
    font-size: 32px;
}

.frameMar{
    margin-right: 16px;
}

.frameMar:last-of-type {
    margin-right: 0;
}

.sec3Button-grey{
    background-color: #666;
}

.LastGreyMar{
    margin:80px 0 130px 0;
}

.butCen__footBut{
    width: 170px;
    height: 38.149px;
    font-size: 16px;
    font-family: 'Roboto Condensed';
    border: none;
    color: #fff;
    border-radius: 0;
    margin:0;
}



.footercontainer{
    max-width: 1100px;
    padding:0 50px;
    margin: 0 auto;
}

.footerlogoMar{
    margin-right: 40px;
}

.footerText{
    font-size: 14px;
    margin-right:30px; 
}

.tel{
    font-family: 'Roboto Condensed';
    font-size: 24px;
    display: inline-block;
    color:#000;
}

.footerInfo{
    font-size: 12px;
    margin-left: 17px;
}

h4{
    font-weight: normal;
    font-style: normal;
}

h4 br{
    display: none;
}

.butCen__footBut-black{
    background-color:black;
    display: inline-block;
}

.butCen__footBut-grey{
    background-color:#666;
    display: inline-block;
}

.borTop{
    border-top: 2px solid #ccc;
}

.footMarTop{
    margin-top:42px;
}

.forBut{
    margin-top:20px;
}

.copyright{
    margin-top: 45px;
    font-size: 10px;
    color: #999;
    text-align: center;
}


/*------------------------------------------------------------------*/
@media(min-width:768px){
    .hideImg1{
        display: none;
    }
}

@media(max-width: 700px)
{
    .specbg, .faqbg{
        background-size: auto;
    }
}
@media(max-width:767px){
    .sec4Text br, .foucoldes__content br{
        display: none;
    }
    .hideNav{
        display: none;
    }
    
    .appearNav{
        display: inline-block;
        padding: 18px 15px;
    }

    .appearNav>img{
        max-width: 22px;
        max-height: 13px;
    }
    .navButton{
        width:90px;
        height: 55px;
        font-size: 11px;
    }

    .resizeLogoNav{
        max-width: auto;
        max-height: 37.8px;
        padding: 8px 18px;
    }

    .resizeLogoMid{
        max-width: 180px;
        max-height: auto;
    }

    .aMar{
        margin: 0;
    }

    .aMar__padLogo{
        padding-left:10px;
    }

    .whatis{
        position: static;
        font-size: 55px;
    }

    .logoSec1{
        top: calc(50% - 43.7px);
        left: calc(50% - 90px);
        max-width: 35px;
        max-height:27px;
    }

    .fontRob-karaberu{
        font-size:45px;
    }

    .foucolsec4__title{
        font-size: 20px;
        padding-top: 15px; 
        padding-bottom: 10px;
    }

    .foucolsec4__content{
        font-size: 13px;
        padding-bottom:23px;
    }

    .foucolsec4__content:last-child(), foucolsec4__content:nth-child(3){
        font-size: 13px;
        padding-bottom:105px;
    }

    .title{
        margin-top:30px;
        font-size: 21px;
    }

    .content{
        padding-right: 0;
        font-size: 13px;
        margin-top: 30px;
    }

    .car{
        top:120px;
        left:170px;
    }

    .colThi, .colSix{
        width: 100%;
    }

    .container{
        padding:0 16px;}
        

    .bicycle{
        margin: 32px 0 35px 10px;
   }

   .foucoldes{
        width: 100%;
        float: none;
    }

    .foucolsec4{
        width: 50%;
        float: left;
    }

    .foucoldes-blur::after{
        position: static;
        content: url('../images/x.png');
        padding-bottom: -28px;
    }

    .foucoldes__type{
        padding-top:63px;
    }
    
    .foucoldes__content{
        padding-bottom: 35px;
    }

    .sec3Button__margin{
        margin:41px 0 95px 0;
    }

    .fontSas-lineup{
        font-size: 48px;
        margin-bottom: 26px;
        margin-top:0;
    }

    .sec4Text{
        font-size: 13px;
        margin-top:42px;
        text-align: left;
    }

    .sec4BigText{
        font-size: 20px;
        margin-top:36px;
    }

    .sec4BigText br{
        display: block;
    }

    .foucolsec4__imgMar:last-child{
        display: none;
    }

    .lineup{
        padding-bottom: 105px;
    }
    .hideImg1{
        display: block;
        width: 100%;
    }

    .hideImg2{
        display: none;
    }

    .housesMar{
        margin-right:37px;
    }

    .hundred{
        width: 100%;
    }
    
    .sec5imgText{
        margin:14px 0 0 0;
        padding: 0;
    }

    .twocol{
        width:100%;
        padding:0; 
    }

    .fontSas-sec6{
        font-size: 35px;
    }

    .dashWMar{
        margin:15px 0 23px 0;
    }
    
   
/*Not right*/
   .abs-two{
    top: calc(50% - 75px);
    left: calc(50% - 141px);
    padding: 31px 0 42px 0;
}

    .sec7Text{
        font-size: 13px;
        margin-top: 41px;
        margin-bottom: 40px; 
    }

    .blo{
        display: block;
    }

    .imgSec7Mar{
        margin-top: 66px;
        margin-bottom: 55px;
    }

    .threecol{
        width: 100%;
    }

    .threecol-Mar{
        margin-bottom: 16px;
    }
    
    
    .threecol-Mar:last-child{
        margin-right: 10000px;
    }
    .frame{
        width: 100%;
        height: auto;
    }

    .frame__content{
        font-size: 13px;
        margin-bottom: 36px;
    }

    .frame__content:first-child{
        margin-top:44px;
    }

    .frame__title{
        font-size: 20px;
    }

    .frameMar{
        margin-right: 0;
        margin-bottom: 8px;
    }

    .lineframestyle{
        width: auto;
    }
    .LastGreyMar{
        margin-top:29px;
        margin-bottom:37px;
    }
    h4 br{
        display: block;
    }



    .tel{
        color: #000;
        border: 2px solid #000;
        background-color:none;
        display: inline-block;
        padding: 17px 76px;
        position: relative;
        font-size: 16px;
    }

    .tel::after{
        position: absolute;
        content: '';
        background-image: url("../images/arr.png");
        background-repeat: no-repeat;
        top:20px;
        right:5px;
        width: 40px;
        height: 40px;

    }

    .footerlogoMar{
        margin-right: 0px;
    }

    .borTop{
        border: 0;
    }

    .footMarTop{
        margin:0;
    }
    
    .borNav{
        border-top: 1px solid #000;
    }

    .borNav:last-of-type {
        border-bottom: 1px solid #000;
    }

    .footercontainer{
        padding: 0;
        margin: 0;
    }

    .footerText{
        padding: 20px 0 16px 0;
        margin: 0;
    }

    h5{
        font-size: 13px;
        margin: 0;
        padding-left:17px; 
        position: relative;
    }

    h5::after{
        content: '';
        background-image: url("../images/arr.png");
        background-repeat: no-repeat;
        position: absolute;
        right:5px;
        width: 50px;
        height: 50px;
    }

    .butCen__footBut{
        width: 270px;
        height: 57px;
        font-size: 15px;
        position: relative;
    }

    .butCen__footBut::after{
        position: absolute;
        content: '';
        background-image: url("../images/arr_white.png");
        background-repeat: no-repeat;
        right:5px;
        width: 40px;
        height: 40px;
    }

    .buttMar{
        margin-top:21px;
    }

    .butCen{
        display: block;
        text-align: center;
    }
    
}



