$grey: #f1f1f1;
$yugothic: "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$rob: "Roboto Condensed";
$greytext: #808080;
$red: #d53230;

//Header and footer css
.head {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 30px;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__logo {
        float: left;
    }

    &__phone {
        margin-bottom: 39px;
        float: right;
    }

    &__buttonsNav {
        display: none;
    }
}

.container, .headcontainer {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn1 {
    position: relative;
    color: #fff;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    text-align: left;
    width: 200px;
    height: 53px;
    font-size: 14px;
    vertical-align: middle;

    &--black {
        background-color: black;
        padding-left: 1.5%;
        margin-left: 15px;
    }

    &--black:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &--red {
        background-color: #d53230;
        padding-left: 0.65%;
    }

    &--red:hover {
        background-color: rgba(207, 8, 8, 0.5);
    }

    &--foot {
        width: 242px;
        height: 64px;
        font-size: 16px;
        font-weight: bold;
    }

    &--foot::after {
        position: absolute;
        content: '';
        background-image: url("../images/arr.png");
        background-repeat: no-repeat;
        top: 22px;
        right: 12px;
        width: 18px;
        height: 18px;
    }

    &--blkfoot {
        padding-left: 40px;
        margin-left: 10px;
    }

    &--redfoot {
        padding-left: 10px;
        margin: 0;
    }
}

.btn1::after {
    position: absolute;
    content: '';
    background-image: url("../images/ico_arrow02.png");
    background-repeat: no-repeat;
    top: 18px;
    right: 12px;
    width: 20px;
    height: 20px;
}

.menu {
    &__uptext {
        margin-right: 38px;
        font-size: 14px;
    }

    &__uptext:last-of-type {
        margin-right: 0;
    }

    &__uptext:hover {
        border-bottom: 4px solid #d53230;
        padding-bottom: 8px;
    }
}

.footcontainer {
    max-width: 1000px;
    margin: 0 auto;

    &--1 {
        padding: 0 17.5px;
    }

    &--2 {
        padding: 0 10px;
    }

    &__thrcol {
        width: 33.3333333333%;
        float: left;
        margin-top: 80px;

        &--1 {
            font-size: 14px;
        }

        &--1:nth-child(2) {
            font-size: 18px;
            font-weight: bold;
        }
    }

    &__col1 {
        width: 40%;
        float: left;
        background-color: #fff;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding: 42px 0 20px 0;
        margin: 0;
    }

    &__phone {
        font-size: 36px;
        font-family: 'Roboto Condensed';
        font-weight: bolder;
        padding: 0 0 16px 0;
        margin: 0;
    }

    &__time {
        font-size: 14px;
        padding: 0 0 48px 0;
        margin: 0;
    }

    &__col2 {
        width: calc(60% - 9px);
        float: left;
        background-color: #fff;
        margin-left: 9px;
        margin-bottom: 60px;
    }

    &__btn {
        padding: 0 0 63px 0;
    }

    &__blacksp {
        display: none;
    }
}

.greysec {
    background-color: #f1f1f1;
}

.foottitle {
    font-size: 32px;
    font-weight: bold;
    padding: 78px 0 6px 0;
    margin: 0;
}

.footscript {
    font-size: 14px;
    padding: 0 0 60px 0;
}

.footscript br {
    display: none;
}

.menuarr {
    position: relative;
    font-size: 12px;

    &__rig {
        border-bottom: 1px dotted black;
        margin: 16px 0 0 0;
        border-bottom: 1px dotted black;
        padding: 0 0 16px 0;
    }

    &__rig::after {
        content: '';
        position: absolute;
        background: url("../images/ico_smarr.gif") no-repeat;
        max-width: 11px;
        width: 100%;
        height: 6px;
        right: 0;
    }

    &__lef {
        font-size: 14px;
        margin-left: 20px;
    }

    &__lef::before {
        content: '';
        position: absolute;
        background: url("../images/ico_arr.gif") no-repeat;
        width: 12px;
        height: 6px;
        left: 0;
        top: 6px;
    }
}

.copyright {
    margin-bottom: 110px;
    font-size: 12px;
}

.close{
    margin-top: 17px;
    font-size: 16px;
    position: relative;
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px 0 7px 0;
}

.close::before{
    content:'';
    position: absolute;
    background: url("../images/ico_close.gif") no-repeat;
    width: 13px;
    height: 13px;
    top: calc(50% - 8px);
    left: calc(50% - 48px); 
}

//body css
.top01 {
    padding-top: 166px;
    position: relative;

    &__title {
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        top: calc(78.62% - 22px); //100% = 124px + 166px; want to set image center of 124px so we get (166 + 124/2)/(166 + 124) = 78.62%
        text-align: center;
        left: 0;
        width: 100%;
        color: white;
    }
}

.top02 {
    padding-top: 20px;
    font-size: 0;
    padding-bottom: 53px;
    &__link1 {
        margin-right: 10px;
        text-decoration: underline;
        font-size: 12px;
    }

    &__gt {
        font-size: 12px;
        display: inline-block;
    }

    &__link2 {
        font-size: 12px;
        margin-left: 10px;
    }

    &__col1 {
        width: calc(80% - 100px);
        float: left;
        font-size: 0;
        margin-right: 100px;

        &__1 {
            width: 12.5%;
            display: inline-block;
            vertical-align: top;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        &__2 {
            width: 87.5%;
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            margin-top: 0;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        &--bor {
            border-bottom: 1px dotted black;
        }

        &__date {
            font-size: 14px;
            color: $greytext;
            margin: 0 0 0 22px;
        }

        &__title {
            font-size: 18px;
            margin: 0 0 0 22px;
            text-decoration: underline;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__dedate{
            font-size: 14px;
            color: $greytext;
            margin: 0 0 20px 0;
        }

        &__detitle{
            font-size: 26px;
            font-weight: bold;
            margin: 0 0 45px 0;
        }

        &__decontent{
            font-size: 16px;
            margin: 38px 0 0 0;
        }

        &__whole{
            margin-bottom: 96px;
            margin-top: 80px;
        }
    }

    &__col2 {
        width: 20%;
        float: right;
        background-color: $grey;
        font-size: 16px;

        &__title {
            padding: 27px 0 0 0;
            margin: 0 0 0 24px;
        }

        &__li {
            padding: 14px 0 0 20px;
            margin: 0 0 0 24px;
            text-decoration: underline;
            position: relative;
        }

        &__li:last-of-type {
            padding: 14px 0 33px 20px;
        }

        &__li::before {
            content: '';
            position: absolute;
            background: url("../images/ico_arr.gif") no-repeat;
            width: 12px;
            height: 6px;
            left: 0;
            top: 22px;
        }
    }
}

.btnsm {
    width: 90px;
    height: 25px;
    font-size: 14px;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;

    &--2 {
        margin: 0 0 0 22px;
        color: $greytext;
    }
}

.btnsm::after {
    position: absolute;
    content: '';
    background-image: url("../images/ico_arrgrey.gif");
    background-repeat: no-repeat;
    top: 10px;
    right: 0;
    width: 12px;
    height: 6px;
    text-align: right;
}

.pagination {
    display: inline-block;
    margin-top: 145px;
}

.pagination a {
    color: black;
    float: left;
    padding: 11px 16px;
    text-decoration: none;
    background-color: $grey;
    border: none;
    font-size: 16px;
    font-family: $rob;
}

.pagination button {
    float: left;
    width: 40px;
    height: 40px;
    background: black;
}

.pagination a.active {
    background-color: $greytext;
    color: white;
    border: none;
}

.pagination a:hover:not(.active), .pagination button:hover {
    background-color: $greytext;
    color: white;
}

.paging {
    font-size: 12px;
    font-family: $rob;
    margin-top: 20px;
    margin-bottom: 78px;
    text-align: center;
}

.heading1{
    font-size: 22px;
    font-weight: bold;
    border-left: 3px solid black;
    padding-left: 20px;
    margin-top: 100px;
}

.heading2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
}

.disc{
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 55px;
}

.disc li{
    font-size: 16px;
}

.textlink{
    font-size: 16px;
    text-decoration: underline;
    color: $red;
    display: block;
    margin-top: 43px;
}

.social{
    &__share{
        position: relative;
        display: inline-block;
        margin-right: 28px;
    }
    &__share::after{
        position: absolute;
        content: "この記事をシェア";
        font-weight: bold;
        font-size: 14px;
        top: calc(50% - 10px);
        left: calc(50% - 56px);
    }
    &--1{
        display: inline-block;
        margin-right: 20px;
    }
    &--1:last-of-type{
        margin-right: 0;
    }
}

.top03{
    &__title{
        font-size: 20px;
        font-weight: bold;
        display: inline-block;
        margin-left: 12px;
    }
    &__foucol{
        width: 24%;
        display: inline-block;
        margin-right: 1%;
        vertical-align: top;
    }
    &__foucol:last-child{
        margin-right: 0;
    }
    &__date{
        font-size: 14px;
        text-align: left;
        margin-left: 10px;
        margin-top: 17px;
    }
    &__coltitle{
        font-size: 16px;
        text-align: left;
        margin-left: 10px;
        margin-top: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--2{
        margin-top: 90px;
        margin-bottom: 170px;
    }
}
@media (max-width: 1009px) {
    //header and footer css
    .head {
        padding: 0;

        &__phone {
            display: none;
        }

        &__buttonsNav {
            width: 34.375%;
            float: right;
            display: inline-block;
        }
    }

    .resize1 {
        vertical-align: bottom;
    }

    .btnsp {
        color: #fff;
        border-radius: 0;
        font-size: 8px;
        border: none;
        font-weight: bold;
        width: 50%;
        float: left;
        height: 74px;

        &--black {
            background-color: #000;
            position: relative;
            padding: 27px 0 0 0;
        }

        &--black::after {
            position: absolute;
            content: '';
            background-image: url("../images/ico_3line.gif");
            background-repeat: no-repeat;
            width: 18px;
            height: 13px;
            top: 10px;
            left: calc(50% - 9px);
        }

        &--red {
            background-color: #d53230;
            position: relative;
            padding: 20px 0 0 0;
        }

        &--red::after {
            position: absolute;
            content: '';
            background-image: url("../images/ico_ques.png");
            background-repeat: no-repeat;
            width: 8px;
            height: 12px;
            top: 10px;
            left: calc(50% - 4px);
        }
    }

    .headcontainer {
        padding: 0 0 0 13px;
    }

    .menu {
        display: none;
    }

    //body css
    .top01 {
        padding-top: 74px;

        &__title {
            top: calc(68.6868687% - 22px); //100% = 124px + 74px; (74 + 124/2)/(74 + 124) = 68.6868687%
       
        }
    }
}

@media (max-width: 866px) {
    .foottitle {
        font-size: 19px;
        padding: 34px 0 6px 0;
    }

    .footscript {
        font-size: 13px;
        padding: 0 0 60px 0;
    }

    .footscript br {
        display: block;
    }

    .footcontainer {
        &__blackSP {
            font-size: 12px;
            line-height: 30px;
            display: block;
            background-color: #000;
            color: #fff;
            padding: 0;
            margin: 0;
        }

        &__title {
            font-size: 16px;
            padding: 27px 0 13px 0;
        }

        &__phone {
            font-size: 26px;
            padding: 16px 0 9px 0;
            line-height: 0;
        }

        &__time {
            font-size: 12px;
            padding: 0 0 16px 0;
        }

        &__blacksp {
            font-size: 12px;
            line-height: 30px;
            display: block;
            background-color: #000;
            color: #fff;
            padding: 0;
            margin: 0;
        }

        &__col1, &__col2 {
            width: 100%;
            margin: 0;
        }

        &__col1 {
            margin-bottom: 10px;
        }

        &__col2 {
            margin-bottom: 47px;
        }

        &__btnsp {
            border: 1px solid #000;
            margin: 0 16px 25px 16px;
            position: relative;
        }

        &__btnsp::after {
            position: absolute;
            background-image: url("../images/ico_arrcircle.gif");
            content: '';
            background-repeat: no-repeat;
            top: 18px;
            right: 9px;
            width: 22px;
            height: 22px;
        }
    }

    .btn1 {
        &--foot {
            width: 260px;
            height: 60px;
            font-size: 15px;
        }

        &--redfoot {
            padding-left: 42px;
            margin-bottom: 16px;
        }

        &--blkfoot {
            padding-left: 55px;
            margin: 0 0 16px 0;
        }
    }
}

@media (max-width: 767px) {
    //header and footer css
    .resize1 {
        max-width: 129px;
        vertical-align: bottom;
    }

    .btnsp {
        height: 50px;
    }

    .twocol {
        width: calc(50% - 12px);
        float: left;

        &--mar {
            margin: 0 22.5px 0 0;
        }

        &--mar .menuarr__lef::before {
            top: 20px;
        }

        &--mar:nth-child(2), &--mar:nth-child(4), &--mar:nth-child(6), &--mar:nth-child(8) {
            margin: 0 0 0 0;
            float: right;
        }
    }

    .menuarr {
        &__lef {
            font-size: 12px;
            border-bottom: 1px dotted black;
            padding: 0 0 16px 20px;
            margin: 16px 0 0 0;
            letter-spacing: -0.5px;
        }

        &__lef::before {
            top: 6px;
        }
    }

    .copyright {
        margin-top: 33px;
        text-align: center;
    }

    //body css
    .top01 {
        padding-top: 50px;

        &__title {
            font-size: 19px;
            top: calc(72.7272727% - 16px); //100% = 60px + 50px; (50 + 60/2)/(50 + 60) = 72.7272727%
       
        }
    }

    .top02 {
        &__col1 {
            width: 100%;
            margin: 0;
            float: none;

            &__1 {
                width: 31.25%;
                padding-bottom: 20px;
                padding-top: 20px;
            }

            &__2 {
                width: 68.75%;
                font-size: 11px;
                margin-top: 0;
                padding-bottom: 20px;
                padding-top: 20px;
            }

            &__date {
                font-size: 11px;
                margin: 0 0 0 22px;
            }

            &__title {
                font-size: 14px;
                margin: 0 0 0 22px;
                text-decoration: underline;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &__dedate{
                font-size: 11px;
                margin: 0 0 15px 0;
            }
    
            &__detitle{
                font-size: 17px;
                margin: 0 0 25px 0;
            }
    
            &__decontent{
                font-size: 13px;
                margin: 22px 0 0 0;
            }
    
            &__whole{
                margin-bottom: 65px;
                margin-top: 33px;
            }
        }

        &__col2 {
            width: 100%;
            float: none;
            background-color: white;
            font-size: 10px;
            border: 1px solid black;
            margin-top: -1px;

            &__title {
                display: none;
            }

            &__li {
                padding: 16px 0 0 0;
                margin: 0 18px;
                text-decoration: unset;
                position: relative;
                border-bottom: 1px dotted black;
            }

            &__li:nth-of-type(2) {
                margin-top: 9px;
            }

            &__li:last-of-type {
                padding: 16px 0 0 0;
                margin-bottom: 25px;
            }

            &__li::after {
                right: 0;
                content: '';
                position: absolute;
                background: url("../images/ico_arr.gif") no-repeat;
                width: 12px;
                height: 6px;
                right: 0;
                top: 22px;
            }

            &__li::before {
                display: none;
            }
        }
    }

    .btnsm::after {
        left: 0;
        text-align: left;
    }

    .pagination {
        margin-top: 54px;
    }

    .pagination a {
        padding: 11px 11.5px;
    }

    .pagination button {
        background: $greytext;
    }

    .paging {
        margin-top: 17px;
        margin-bottom: 37px;
    }

    .right {
        text-align: center !important;
        margin: 0 -15px;
    }

    #showmenu1 {
        font-size: 13px;
        background-color: white;
        text-align: center;
        margin: 0 29px;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 0 10px 37px;
        position: relative;
    }

    #showmenu1::before {
        position: absolute;
        content: '';
        background: url("../images/ico_butplus.gif") no-repeat;
        max-width: 37px;
        width: 100%;
        height: 42px;
        top: 0;
        left: 0;
    }

    #menu1 {
        display: none;
    }


    .heading1{
        font-size: 15px;
        padding-left: 20px;
        margin-top: 50px;
    }
    
    .heading2{
        font-size: 14px;
        margin-top: 50px;
    }
    
    .disc{
        margin-top: 40px;
    }
    
    .disc li{
        font-size: 13px;
    }
    
    .textlink{
        font-size: 13px;
        margin-top: 33px;
    }
    
    .social{
        background-color: $grey;
        text-align: center;
        margin: 0 -15px 30px -15px;
        
        &__share{
            margin-right: 11px;
        }
        &__share::after{
            position: absolute;
            content: "この記事をシェア";
            font-weight: bold;
            font-size: 12px;
            top: calc(50% - 10px);
            left: calc(50% - 56px);
        }

        &--1{
            margin: 20px 11px 22px 0;
        }
    }

    .resizesocial{
        max-width: 41px;
    }

    .top03{
        &__title{
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            margin-left: 12px;
        }
        &__foucol{
            width: calc(50% - 8px);
            display: inline-block;
            margin: 0 4px;
            vertical-align: top;
        }
        &__foucol:last-child{
            margin-right: 0;
        }
        &__date{
            font-size: 14px;
            text-align: left;
            margin-left: 10px;
            margin-top: 17px;
        }
        &__coltitle{
            font-size: 16px;
            text-align: left;
            margin-left: 10px;
            margin-top: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        &--2{
            margin-top: 90px;
            margin-bottom: 170px;
        }
    }
}
